/* (commented) arrows indicate where the demonstrative lines are */
/* the other lines are merely to improve the display */
.displayborder {
    border-style: solid;
    margin: 1.25em;
    padding: 1em;
}

.thickborder {
    border-width: thick; /* <-------- */
}

.mediumborder {
    border-width: medium; /* <-------- */
}

.thinborder {
    border-width: thin; /* <-------- */
}

.redborder {                /* dang self-explanatory, so I'll be brief */
    border-color: #F00;
}

.shorthandborder {
    border: 2px solid red;
}

.somepadding {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.roundcorners {
    border-radius: 15px;
    border: 4px solid;
}

.unevencorners {
    border-top-left-radius: 20px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 50px;
    border: 4px solid;
}

.shadowy {
    box-shadow: 5px 10px #888;
}

.textshadowy {
    text-shadow: 2px -3px #888;
}
