body {
    color: #fff;
    background-color: #333;
    font-size: 1.25em;
    font-family: monospace;
}

h1 {
    text-align: center;
}

.category {
    margin: 3em 0em 3em 0em;
}

.flexy {
    display: flex;
    background-color: #444;
    /*margin-bottom: 2em;*/
}

.flexy > div {
    margin: 12px;
    padding: 20px;
    background-color: #555;
    padding: 1em;
    width: 7ch;
}

.flexy-column {
    display: flex;
    flex-direction: column;
}

.flexy-rev-column {
    display: flex;
    flex-direction: column-reverse;
}

.flexy-row {
    display: flex;
    flex-direction: row;
}

.flexy-rev-row {
    display: flex;
    flex-direction: row-reverse;
}

.flexy-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flexy-rev-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flexy-flow-row {
    display: flex;
    flex-flow: row wrap;
}

.flexy-flow-col {
    diaplay: flex;
    flex-flow: column wrap;
    height: 15em;
}

.flexy-center {
    display: flex;
    justify-content: center;
}

.flexy-start {
    display: flex;
    justify-content: flex-start;
}

.flexy-end {
    display: flex;
    justify-content: flex-end;
}

.flexy-around {
    display: flex;
    justify-content: space-around;
}

.flexy-between {
    display: flex;
    justify-content: space-between;
}
