/* copy pasta */
body {
    color: #fff;
    background-color: #333;
    font-size: 1.25em;
    font-family: monospace;
}

h1 {
    text-align: center;
    padding-top: 3em;
}

h2 {
    padding-top: 2em;
}

hr {
    padding-bottom: 6em;
    visibility: hidden;
}

:root {
    --medium: #444;
    --light: #555;
    --aaa: auto auto auto;
    --aaaa: auto auto auto auto;
}

/* basic grid stuff */

.griddy {
    display: grid;
    grid-template-columns: var(--aaa);
    background-color: var(--light);
    padding: 1em;
}

.gridlet {
    background-color: var(--medium);
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
}

.griddy-inline {
    display: inline-grid;
    grid-template-columns: var(--aaa);
    background-color: var(--light);
    padding: 1em;
}

.col-gap {
    grid-column-gap: 5em;
}

.row-gap {
    grid-row-gap: 5em;
}

.grid-gap {
    grid-gap: 5em;
}

.griddy-temp-col {
    display: grid;
    grid-template-columns: 10em 5em auto 3em;
    background-color: var(--light);
    padding: 1em;
}

.griddy-temp-row {
    display: grid;
    grid-template-rows: auto 12em;
    grid-template-columns: var(--aaaa);
    background-color: var(--light);
    padding: 1em;
}

.spacey-even {
    justify-content: space-evenly;
}

.spacey-around {
    justify-content: space-around;
}

.spacey-between {
    justify-content: space-between;
}

.spacey-center {
    justify-content: center;
}

.spacey-start {
    justify-content: start;
}

.spacey-end {
    justify-content: end;
}

/*  */
.griddy-tall {
    height: 20em;
    display: grid;
    grid-template-columns: var(--aaa);
    background-color: var(--light);
    padding: 1em;
}

.tall-center {
    align-content: center;
}

.tall-even {
    align-content: space-evenly;
}

.tall-around {
    align-content: space-around;
}

.tall-between {
    align-content: space-between;
}

.tall-start {
    align-content: start;
}

.tall-end {
    align-content: end;
}
